<form action="/shelters" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="PATCH" />
  <p>Edit</p>
  <label for="name">Shelter Name:</label><br>
  <input type='text' name='shelter[name]' value="<%= @shelter.name %>"/><br/>
  <label for="address">Shelter Address:</label><br>
  <input type='text' name='shelter[address]' value="<%= @shelter.address %>"/><br/>
  <label for="city">Shelter City:</label><br>
  <input type='text' name='shelter[city]' value="<%= @shelter.city %>"/><br/>
  <label for="state">Shelter State:</label><br>
  <input type='text' name='shelter[state]' value="<%= @shelter.state %>"/><br/>
  <label for="zip">Shelter Zip Code:</label><br>
  <input type='text' name='shelter[zip]' value="<%= @shelter.zip %>"/><br/>
  <input type='submit' value="Update Shelter"/>
</form>
