<a href="/shelters">Shelter Index</a>

<h1><%= @shelter.name %></h1>
<label for="address">Shelter Address:</label><br>
<p><%= @shelter.address %></p>
<label for="city">Shelter City:</label><br>
<p><%= @shelter.city %></p>
<label for="state">Shelter State:</label><br>
<p><%= @shelter.state %></p>
<label for="zip">Shelter Zip Code:</label><br>
<p><%= @shelter.zip %></p>

<a href="/shelters/<%= @shelter.id %>/pets"> Available Pets </a>
<br>

<a href="/shelters/<%= @shelter.id %>/edit">Update Shelter</a>

<br>

<form action="/shelters/<%= @shelter.id %>" method="POST">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Shelter"/>
</form>
