<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Website Layout</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* Style the header */
.header {
  background-color: dimgrey;
  padding: 20px;
  text-align: left;
}

/* Style the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: darkblue;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
article {
  float: left;
  padding: 0px;
  width: 100%;
  background-color: white;
  height: 300px; /* only for demonstration, should be removed */
}
/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
footer {
  background-color: #000000;
  padding: 40px;
  text-align: center;
  color: white;
}
</style>
</head>
<body>
  <img src="http://www.ci.san-bernardino.ca.us/images/PD/supply_co..png" alt="Adopt Today" width="1600" height="500">

<div class="header">
 <h1 style="color:white;">Available Pets at <%=@shelter.name%></h1>
</div>

<div class="topnav">
  <a><%= button_to 'Home', "/", method: :get %></a>
  <a><%= button_to 'Create New Pet', "/shelters/#{@shelter.id}/pets/new", method: :get %></a>
</div>

<article>
  <% @pets.each do |pet| %>
  <h3><a href="/pets/<%= pet.id %>"><%= pet.name %></a></h3>
  <% end %>
</article>


<footer>
  <p>Thank you for Visiting</p>
</footer>

</body>
</html>
