<!DOCTYPE html>
<html lang="en">
<head>
<title>CSS Template</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Style the header */
header {
  background-color: #000000;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
}

/* Create two columns/boxes that floats next to each other */
nav {
  float: left;
  width: 30%;
  height: 300px; /* only for demonstration, should be removed */
  background: #CED500;
  padding: 20px;
}

/* Style the list inside the menu */
nav ul {
  list-style-type: none;
  padding: 0;
}

article {
  float: left;
  padding: 0px;
  width: 70%;
  background-color: grey;
  height: 300px; /* only for demonstration, should be removed */
}

/* Clear floats after the columns */
section:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the footer */
footer {
  background-color: #000000;
  padding: 40px;
  text-align: center;
  color: white;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 600px) {
  nav, article {
    width: 100%;
    height: auto;
  }
}
</style>
</head>
<body>

<header>
  <h2>Available Pets</h2>
</header>

<section>
  <nav>
    <ul>
  <li><%= button_to 'Add a New Pet', "/shelters/#{@shelter.id}/pets/new", method: :get %></li>
  <li><%= button_to 'Home', "/", method: :get %></li>
    </ul>
  </nav>

  <article>
    <% @pets.each do |pet| %>
      <h2><%= pet.name %></h2>
      <% if pet.image? %>
       <%= image_tag pet.image %>
      <% end %>
      <p>Approximate Age:<%= pet.approximate_age %></p>
      <p>Gender:<%= pet.sex %> </p>
    <% end %>
  </article>
</section>
<img src="http://www.ci.san-bernardino.ca.us/images/PD/supply_co..png" alt="Adopt Today" width="1600" height="500">
<footer>
  <p>Thank you for Visiting</p>
</footer>

</body>
</html>
